
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 150px;
}

.login-logo{
    width: 147px;
    height: 147px;
    flex-shrink: 0;
    background-color: gray;
    margin-top: 25%;
    margin-bottom: 20%;
}

.login-container{
    width: 85%;
    flex-shrink: 0;
    max-width: 320px;
}

.input-form{
    height: 53px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid #D5E5AE;
    background: #FFF;
    margin-bottom: 10px;
}

.login-status{
    margin-top: 7px;
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.auto-login-box {
    align-items: center;
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;

}

.auto-login-box.on {
    opacity: 1;
    transform: scale(1.1);
}

.auto-login-box.off {
    opacity: 1;
    transform: scale(0.9);
}

.auto-login-text {
    color: #8B8988;
    /*font-family: Pretendard;*/
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding-left: 9px;
}

.login-button {
    width: 100%;
    margin-top: 17px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #ACCD5E;
    border: none;
}

.login-button-text{
    color: #FFF;
    /*font-family: Pretendard;*/
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 14.092px; /* 78.29% */
}

.login-services-container{
    margin-top: 26px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-services{
    width: 90%;
    align-items: center;
    display: flex;
    height: 16px;

}

.login-services-bar {
    height: 14px;
    background-color: #D1D1D1;
    margin: 0 15px 0 15px;
    width: 1px;
}

